#home-img {
    width: 100%;  
    z-index: -20;
    position: fixed;
}

#swap1, #swap2, #swap3, #swap4 {

    display:none;

    position:fixed;

    z-index:-10;   
}

.bg-image {
    width: 100%;   
}

img {
    width: 100%;   
}



#text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    width: 60%;
    font-family: sans-serif;
    color: #FFFFFF;
    line-height: 25px;
}